/* Reset CSS */

blockquote,
body,
dd,
dl,
dt,
fieldset,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
html,
iframe,
legend,
li,
ol,
p,
pre,
textarea,
span,
ul {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: 400;
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

button,
input,
select,
textarea {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

td:not([align]),
th:not([align]) {
  text-align: left;
}

/* Navigation Bar */

.nav-header {
  position: relative;
}

.nav-header nav {
  position: relative;
  display: block;
  width: 980px;
  height: 36px;
  top: 83px;
  margin: 0 auto;
  text-align: left;
  z-index: 9998;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(0, 0, 0, 0.2)), color-stop(0.05, rgba(0, 0, 0, 0)), color-stop(0.97, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.45))), -webkit-gradient(linear, 0 0, 100% 0, from(rgba(0, 0, 0, 0.2)), color-stop(0.002, rgba(0, 0, 0, 0)), color-stop(0.998, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.2))), url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAA9QAAAAkCAMAAABfcIIyAAAAGXRFW…px%2BeQqLpPJDae9P5%2FmrVz491%2FWekBlKy7PXVfn9rb9xXsMD2wdOcAAAAAElFTkSuQmCC) 50% 50% no-repeat, -webkit-gradient(linear, 0 100%, 0 0, from(rgb(102, 102, 102)), color-stop(0.5, rgb(94, 94, 94)), color-stop(0.51, rgb(112, 112, 112)), to(rgb(128, 128, 128)));
  -khtml-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -khtml-box-shadow: rgba(0,0,0,0.3) 0 1px 2px;
  -ms-box-shadow: rgba(0,0,0,0.3) 0 1px 2px;
  -o-box-shadow: rgba(0,0,0,0.3) 0 1px 2px;
  -moz-box-shadow: rgba(0,0,0,0.3) 0 1px 2px;
  -webkit-box-shadow: rgba(0,0,0,0.3) 0 1px 2px;
  box-shadow: rgba(0,0,0,0.3) 0 1px 2px;
  font: 12px/18px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
}

.nav-list {
  display: table;
  float: left;
  width: 845px;
  table-layout: fixed;
  height: 36px;
}

.nav-list li {
  display: table-cell;
  width: 100%;
  overflow: hidden;
  height: 36px;
}

.nav-list li a{
  width: auto;
  height: 36px;
  background: none;
  display: block;
  float: none;
  text-decoration: none;
  border-style: solid;
  border-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAABCAQAAABTNcdGAAAAEUlEQVQIHWP4r8bA8F%2BKwQEADZUCf37PGokAAAAASUVORK5CYII%3D) 0 2 0 1 fill;  
  overflow: hidden;
  text-indent: -9999px;
  cursor: pointer;
}

.nav-list li:first-child a {  
  border-width: 0 2px 0 0;
  border-radius: 4px 0 0 4px;
  height: 34px;
  
}

.nav-list li a span {
  display: block;
  width: 100%;
  height: 30px;
  margin-bottom: 3px;
  margin-right: auto;
  margin-left: auto;
  background-image: url("http://images.apple.com/global/nav/images/globalnav_text.svg");
}

.nav-list .apple a{
  background-position: 0 0;
}

.nav-list .apple a span {
  background-position: 50% 0;
}

.nav-list .store a span {
  background-position: 50% -30px;
}

.nav-list .mac a span {
  background-position: 50% -60px;
}

.nav-list .ipod a span {
  background-position: 50% -90px;
}

.nav-list .iphone a span {
  background-position: 50% -120px;
}

.nav-list .ipad a span {
  background-position: 50% -150px;
}

.nav-list .itunes a span {
  background-position: 50% -180px;
}

.nav-list .support a span {
  background-position: 50% -210px;
}

.search {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 135px;
  border-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAABCAQAAABTNcdGAAAADUlEQVQIHWP4r8YABgAJCwEmqyi5lgAAAABJRU5ErkJggg%3D%3D) 0 2 0 1 fill;
  padding: 8px 13px;
  background: none;
  border-width: 0px 2px 0px 1px;
}

.search form {
  margin-top: 1px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px -1px 0px, rgba(255, 255, 255, 0.2) 0px 1px 0px;
  position: relative;
  width: 100%;
  height: auto;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 0px;
  border-radius: 12px;
  border: 0 none;
  background: url("http://images.apple.com/global/nav/images/globalsearch_field.png") 0 0 no-repeat;
}

.search form input {
  margin-bottom: -1px;
  width: 100%;
  height: 19px;
  background-image: none;
  box-sizing: border-box;
  padding: 2px 18px 1px 22px;
  border-radius: 12px;
  border: none;
  outline: none;
  color: #fff;
  background: none;
}

